---
title: Contact
layout: default
permalink: /contact/
banner:
    image: 225972922
    text: Keeping you Moving
---

.columns
    .left
        h2 {{page.title}}
        | Southam Chiropractic
        br
        | Arundel House
        br
        | 50 Coventry Street
        br
        | Southam
        br
        | CV47 0EP
        br
        br
        .tel 
            | {% if site.tel %}
            | Landline: 
            a(href='tel: {{site.tel}}') {{site.tel}}
            | {% endif %}
            | {% if site.tel and site.mob %}
            br
            | {% endif %}
            | {% if site.mob %}
            | Mobile: 
            a(href='tel: {{site.mob}}') {{site.mob}}
            | {% endif %}
        .email 
            a(href='mailto:{{site.email}}') {{site.email}}
    .right
        h2 Opening Hours
        .open
            | Mon - 10am-8pm
            br
            | Tue - 10am-8pm
            br
            | Wed - Closed
            br
            | Thu - 10am-8pm
            br
            | Fri - 10am-4pm
            br
            | Sat - Closed
            br
            | Sun - Closed
        br
        h2 Parking
        p There is a free car park with ample spaces behind the clinic and often spaces outside the front as well.

img.map(src='{{site.baseurl}}/assets/images/map.png')