ul.inline_images
    li
        picture
            source(srcset='{{site.baseurl}}/assets/images/stock/42_29/320/{{page.three_images[0]}}.webp', type='image/webp')
            source(srcset='{{site.baseurl}}/assets/images/stock/42_29/320/{{page.three_images[0]}}.jpg', type='image/jpeg')
            img(src='{{site.baseurl}}/assets/images/stock/42_29/320/{{page.three_images[0]}}.jpg')
    li
        picture
            source(srcset='{{site.baseurl}}/assets/images/stock/42_29/320/{{page.three_images[1]}}.webp', type='image/webp')
            source(srcset='{{site.baseurl}}/assets/images/stock/42_29/320/{{page.three_images[1]}}.jpg', type='image/jpeg')
            img(src='{{site.baseurl}}/assets/images/stock/42_29/320/{{page.three_images[1]}}.jpg')
    li
        picture
            source(srcset='{{site.baseurl}}/assets/images/stock/42_29/320/{{page.three_images[2]}}.webp', type='image/webp')
            source(srcset='{{site.baseurl}}/assets/images/stock/42_29/320/{{page.three_images[2]}}.jpg', type='image/jpeg')
            img(src='{{site.baseurl}}/assets/images/stock/42_29/320/{{page.three_images[2]}}.jpg')